.description
  %h1 Tyler M. Neher
  %h2 Data Scientist && Full Stack Developer
  %hr/
  %p
    Hello! My name is Tyler and I am a data scientist and full stack developer on the Jersey Shore!
  %p
    My experience in the healthcare, business, and academic settings have given me broad exposure to a plethora of unique real-world applications and use cases of full stack development and data science in today's work environment.
  %p
    Here is a true time scaled solar-system, which means that every objects have a time relative to an Earth year. This webpage's CSS file contains a constant called
    %code
      $year-in-second
    where the time in seconds of one earth year on the page times the speed of revolutions. Here 1 year = 30 seconds. Note the css tricks for the Saturn rings (box-shadow) and reverse animation to compensate the orbit.

  %br

  %p.links

    %a.fas.fa-envelope-open-text.icon{:href => "mailto:tyler.neher@gmail.com", :target => "_blank"}

    %a.fa.fa-github.icon{:href => "https://github.com/tylermneher", :target => "_blank"}

    %a.fa.fa-gitlab.icon{:href => "https://gitlab.com/tylermneher", :target => "_blank"}

    %a.fa.fa-codepen.icon{:href => "https://codepen.io/tylermneher/", :target => "_blank"}

    %a.fab.fa-stack-overflow.icon{:href => "https://stackoverflow.com/users/12592276/tylermneher", :target => "_blank"}

    %a.fa.fa-instagram.icon{:href => "https://instagram.com/tylermneher", :target => "_blank"}

    %a.fab.fa-facebook-square.icon{:href => "https://facebook.com/tyler.neher.fb", :target => "_blank"}
  %p.author
    Made with
    %i.fa.fa-heart
    by Tyler M. Neher in New Jersey


.solar-syst
  .sun
  .mercury
  .venus
  .earth
  .mars
  .jupiter
  .saturn
  .uranus
  .neptune
  .pluto
  .asteroids-belt
